body {
    
    background-color: #3B3B3B;
}

#chatBox {
    background-image: url("pictures/background1.jpg");
    width: 1000px;
    height: 500px;
}

p#chatBox {
   overflow: auto;
    width: 1000px;
    height: 500px;
}


#chatText {

width: 69%;
height: 100%;

}

p {
color: white;
padding-left: 15px;

}

div {
    width: 69%;
height: 500px;
}
#textMessage {
    height: 200px;
}

